---
title: Start
layout: default
---
  <div id="photo-well" class="pull-right well container">
    <div>
      {% capture contact %}{% include contact.md %}{% endcapture %}
      {{ contact | markdownify }}
    </div>
  </div>
  <div>
      {% capture bio %}{% include bio.md %}{% endcapture %}
      {{ bio | markdownify }}

    <h1>most recent blog posts</h1>

  <ul class="posts">
    {% for post in site.posts limit:10 %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
  
  <p class="rss-subscribe">subscribe to blog posts <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  
  </div>
