---
title: About
layout: default
---
  <div id="photo-well" class="pull-right well container">
    <!--<img alt="photo" src="{{site.baseurl}}/assets/images/jwvdm_coffee.jpg">-->
    <div>
      {% capture contact %}{% include contact.md %}{% endcapture %}
      {{ contact | markdownify }}
    </div>
  </div>
  <div>
    {% capture bio %}{% include bio.md %}{% endcapture %}
    {{ bio | markdownify }}
    
    <h1>News</h1>

  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
  
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div>
