body {
  background-color: #007d7a;
  /*background-color: #fff;*/
  color: #ddd;
  font-family: "jaf-facitweb", "Open Sans", sans-serif;
  font-weight: 400;
  /* font-weight: normal; */
}

a {
  color: #820000;
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-family: "jaf-facitweb", "Open Sans", sans-serif;
  /*letter-spacing: 2px;*/
  /*font-size: 2em;*/
}

h1 {
  font-size: 150%;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

h2 {
  font-size: 125%;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

h3 {
  font-size: 100%;
}

#photo-well {
    margin-left: 30px;
}

img[alt=ebfret-screenshot]{
    width: 300px;
    /*float: left;*/
    margin-right: 30px;
}

img[alt=aneic-objects]{
    width: 300px;
    /*float: left;*/
    margin-right: 30px;
}

img[alt=photo] {
    max-width: 15em;
    /*margin-left: 10%;*/
    /*height: 300px;*/
    /*float: left;*/
    /*margin-right: 30px;*/
    /*margin: 15px;*/
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px #999;
    border-radius: 3px;
}

/*div.well {
    padding: 0px;
}
*/
img[alt=contact] {
    height: 14px;
}

.float-left {
    float: left;
    margin-left: 20px;
    margin-right: 60px;
}

.float-right {
    float: right;
    margin-right: 20px;
    margin-left: 60px;
}

.logo {
  vertical-align: bottom;
}

/*.container {
  margin-left: 20px;
  margin-right: 20px;
}
*/

.nav {
  white-space: nowrap;
}

.header > .row {
  padding-left: 20px;
  padding-right: 20px;
}

.nav, .title {
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 3px;
   font-size: 120%;
}

.title, .subtitle {
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
}


.header {
  /*padding-left: 20px;*/
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 8px;
}

.header .col-md-6 {
  padding-left: 0px;
}

/*.nav a {
  color: #fff;
}
*/

.nav > li > a {
  /*border-radius: 3px 3px 0px 0px;*/
  border-radius: 3px;
  text-decoration: none;
  background-color: transparent;
  color: #cccccc;
  padding: 8px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #7fbbba;
  color: #fff;
}

.nav > li.active > a,
.nav > li.active > a:hover,
.nav > li.active > a:focus
{
  color: #fff;
  background-color: #ff9933;
}

/*.nav > li.disabled > a {
  color: #999999;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
*/

.nav-pills > li + li {
  margin-left: 5px;
}

.content {
  background-color: #fff;
  color: #345;
  border-radius: 3px;
  padding: 30px;
  /*box-shadow: 5px 5px 5px #012;*/
}

.footer {
  padding-top: 10px;
  padding-left: 10px;
  color: #999;
}

.footer a {
  color: #7fbbba;
}

.nav-pills > li + li {
  margin-left: 5px;
}

ol.bibliography {
  padding-left: 1.5em;
  list-style: disc;
}

ol.bibliography > li {
  padding-top: 8px;
  padding-bottom: 8px;
}

ol.bibliography .nav > li > a {
  padding-left: 0;
}

ol.bibliography .nav-pills > li > a,
ol.bibliography .nav-pills > li > a:hover {
  font-size: 90%;
  text-transform: uppercase;
  color: #888;
  background-color: transparent;
}

ol.bibliography .nav-pills > li > a:hover {
  color: #235;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTS55F.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTS56F.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTS75F.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTS76F.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans Caption';
    src: url('../fonts/PTC55F.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Caption';
    src: url('../fonts/PTC56F.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans Narrow';
    src: url('../fonts/PTN55F.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Narrow';
    src: url('../fonts/PTN77F.ttf');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBoldItalic.ttf');
    font-weight: 800;
    font-style: italic;
}
